<div class="app-card-container">
  <div class="card">
    <h1>About Seamus</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "Profile image", class: "profile-img img-fluid" %>
      </div>
      <div class="col-md-8">
        <p>
          Bacon ipsum dolor amet turkey beef pancetta, hamburger burgdoggen brisket
          beef ribs pork belly turducken pork loin picanha doner ham hock tail
          chuck. Beef swine cow, kevin kielbasa pork cupim pig bresaola corned beef
          boudin salami. Chicken landjaeger alcatra corned beef prosciutto shoulder
          pork beef ribs. Jowl pork chop ribeye, ham hock tail kevin kielbasa chuck
          prosciutto porchetta swine strip steak cupim. Landjaeger spare ribs pork
          belly rump drumstick jerky buffalo.
        </p>

        <p>
          Sirloin bacon pork buffalo. Leberkas drumstick tail porchetta pork
          belly corned beef tenderloin t-bone shoulder beef ribs venison fatback
          bacon. Tenderloin swine bresaola filet mignon beef ribs capicola jerky
          biltong chuck boudin short loin sausage. Drumstick bacon chicken pork
          chop rump t-bone bresaola. Leberkas filet mignon drumstick short loin
          landjaeger porchetta pastrami picanha ball tip pork ground round. Chuck
          cow flank biltong alcatra bacon burgdoggen spare ribs shankle.
        </p>
        <p>
          <button
              class="btn btn-primary"
              type="button"
              data-toggle="collapse"
              data-target="#experience"
              aria-expanded="false"
              aria-controls="experience"
          >
            Experience
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="experience">
            <div class="card card-block">
              Job 1
            </div>
            <div class="card card-block">
              Job 2
            </div>
          </div>
        </p>

        <p>
        <div class="collapse" id="education">
          <div class="card card-block">
            School 1
          </div>
          <div class="card card-block">
            School 2
          </div>
        </div>
        </p>
      </div>
    </div>
  </div>
</div>



