<h1>Shall we play a game?</h1>

<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Address</h3>
    <p>UGA Main Library, 320 S Jackson St, Athens, GA 30602</p>
    <h3>Email</h3>
    <p><a href="mailto:seamus.narron@gmail.com?subject=PortfoilioContact">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3309.4967
    12081527!2d-83.37596828478755!3d33.95407048063277!2m3!1f0!2f0!3f0!3m2!1i1024
    !2i768!4f13.1!3m3!1m2!1s0x88f66cde0b7731e1%3A0x5c6d182a680d2fcd!2sUGA+Main+
    Library!5e0!3m2!1sen!2sus!4v1545161962540" width="450" height="450"
    frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

